.s-label {
    font-size: 10px;
}


.header {
    background-color: #39434F;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1rem;
    font-size: large;
}

.container {
    display: flex;
    min-height: 100vh;
}

.container-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #232A32;
    align-items: center;
}

.container-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #1A1F25;
    align-items: center;
    justify-content: space-around;
}


.text-label {
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
}

.text-label-large {
    color: white;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    margin-top: 20px;
}

.div-label-select {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input-box {
  font-family: 'Roboto', sans-serif;
  min-height: 100px;
  font-size: large;
  padding: 1.5rem 1rem;
  color: #C7C7C7;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-color: #C7C7C7;
  transition: all 0.3s;
  resize: none;
}

.input-box-small {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  padding: 0.5rem 1rem;
  color: #C7C7C7;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-color: #C7C7C7;
  transition: all 0.3s;
}



.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: x-large;
  line-height: 1.15;
  margin-top: 20px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}


.div-response {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: #C7C7C7;
    white-space: pre-wrap;
}



.div-team-member-list{
    width: 81.5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    border-color: #C7C7C7;
}
.div-team-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}
.input_team-member{
    flex: 5;
    margin-right: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0.5rem 1rem;
    color: #C7C7C7;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    border-color: #C7C7C7;
    transition: all 0.3s;
}
.button-team-member-rem {
    flex: 1;
    align-items: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #39434F;
}
.button-team-member-add {
    align-items: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5rem;
    border-style: none;
    padding: 8px;
    background-color: #39434F;
}